In [1]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\raza\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\raza\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raza\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raza\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\raza\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\raza\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 325.1 kB/s eta 0:00:05
   - -------------------------------------- 0.1/1.4 MB 465.5 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.4 MB 726.2 kB/s eta 0:00:02
   ---- ----------------------------------- 0.1/1.4 MB 708.1 kB/s eta 0:00:02
   ---- ----------------------------------- 0.1/1.4 MB 708.1 kB/s eta 0:00:02
   ---- ----------------------------------- 0.1/1.4 MB 708.1 kB/s eta 0:00:02
   ----------- ---------------------------- 0.4/1.4 MB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 0.4/1.4 MB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 0.4/1.4 MB 1.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.5/1.4 MB 950.1 kB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.4 MB 983.5 kB/s eta 0:00:01
   ----------------- ---------------------- 0.6/1.4 MB 1.0 MB/s eta 0:00:01
   ------------------- -------------------- 0.7/1.4 MB 1.0 MB/s eta 0:00:01
   ---------------------- ----------------- 0.7/1.4 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 0.8/1.4 MB 1.1 MB/s eta 0:00:01
   ------------------------- -------------- 0.9/1.4 MB 1.1 MB/s eta 0:00:01
   --------------------------- ------------ 0.9/1.4 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 1.0/1.4 MB 1.2 MB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 1.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.1/1.4 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 1.2/1.4 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 1.3/1.4 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 1.2 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4

In [2]:
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder

from mlxtend.frequent_patterns import apriori,association_rules

In [7]:
dataset =[]
with open(r"Mall_Customers.csv") as file:
    reader = csv.reader(file,delimiter=',')
    for row in reader:
        dataset+=[row]

In [5]:
dataset

[]

In [9]:
te = TransactionEncoder()
x = te.fit_transform(dataset)
x

array([[False, False, False, ...,  True, False,  True],
       [ True, False, False, ..., False,  True, False],
       [False,  True, False, ..., False,  True, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False]])

In [11]:
df = pd.DataFrame(x,columns=te.columns_)
df

,0001,0002,0003,0004,0005,0006,0007,0008,0009,0010,...,97,98,99,Age,Annual Income (k$),CustomerID,Female,Genre,Male,Spending Score (1-100)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,True,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [13]:
freq_itemset = apriori(df,min_support=0.01,use_colnames=True)
freq_itemset

      support          itemsets
0    0.019900             (103)
1    0.014925              (13)
2    0.019900              (14)
3    0.024876              (15)
4    0.019900              (16)
..        ...               ...
187  0.014925        (93, Male)
188  0.014925  (Female, 73, 30)
189  0.014925  (Female, 31, 40)
190  0.014925  (Female, 42, 49)
191  0.014925  (Female, 60, 50)

[192 rows x 2 columns]

In [15]:
rules = association_rules(freq_itemset,metric='confidence',min_threshold=0.21)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(103),(Female),0.019900,0.557214,0.019900,1.000000,1.794643,1.0,0.008812,inf,0.451777,0.035714,1.000000,0.517857
1,(15),(Male),0.024876,0.437811,0.019900,0.800000,1.827273,1.0,0.009010,2.810945,0.464286,0.044944,0.644248,0.422727
2,(16),(Female),0.019900,0.557214,0.019900,1.000000,1.794643,1.0,0.008812,inf,0.451777,0.035714,1.000000,0.517857
3,(17),(Female),0.024876,0.557214,0.019900,0.800000,1.435714,1.0,0.006039,2.213930,0.311224,0.035398,0.548315,0.417857
4,(18),(Female),0.034826,0.557214,0.014925,0.428571,0.769133,1.0,-0.004480,0.774876,-0.237221,0.025862,-0.290530,0.227679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,"(Female, 60)",(50),0.034826,0.059701,0.014925,0.428571,7.178571,1.0,0.012846,1.645522,0.891753,0.187500,0.392290,0.339286
130,"(Female, 50)",(60),0.054726,0.059701,0.014925,0.272727,4.568182,1.0,0.011658,1.292910,0.826316,0.150000,0.226551,0.261364
131,"(60, 50)",(Female),0.014925,0.557214,0.014925,1.000000,1.794643,1.0,0.006609,inf,0.449495,0.026786,1.000000,0.513393
132,(60),"(Female, 50)",0.059701,0.054726,0.014925,0.250000,4.568182,1.0,0.011658,1.260365,0.830688,0.150000,0.206579,0.261364
133,(50),"(Female, 60)",0.059701,0.034826,0.014925,0.250000,7.178571,1.0,0.012846,1.286899,0.915344,0.187500,0.222938,0.339286

In [17]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(103),(Female),0.019900,0.557214,0.019900,1.000000,1.794643,1.0,0.008812,inf,0.451777,0.035714,1.000000,0.517857
1,(15),(Male),0.024876,0.437811,0.019900,0.800000,1.827273,1.0,0.009010,2.810945,0.464286,0.044944,0.644248,0.422727
2,(16),(Female),0.019900,0.557214,0.019900,1.000000,1.794643,1.0,0.008812,inf,0.451777,0.035714,1.000000,0.517857
3,(17),(Female),0.024876,0.557214,0.019900,0.800000,1.435714,1.0,0.006039,2.213930,0.311224,0.035398,0.548315,0.417857
4,(18),(Female),0.034826,0.557214,0.014925,0.428571,0.769133,1.0,-0.004480,0.774876,-0.237221,0.025862,-0.290530,0.227679

In [19]:
rules[rules['antecedents']=={'cake'}]['consequents']

Series([], Name: consequents, dtype: object)